<input
  type="file"
  [id]="id"
  #fileElement
  style="display: none;"
  [accept]="accepetedExtensionList"

  (change)="carregarArquivosClick($event)">


<label
  #labelElement

  class="btn-media-enfase-primario btn-regimento link w-100 d-flex align-items-center justify-content-center"
  [for]="id">
  <span *ngIf="!uploadedFile?.shortName && label && (contentElement && !contentElement.innerText.trim())" class="label">
    <i class="fa fa-upload"></i>&nbsp; {{label}}
  </span>


  <span *ngIf="uploadedFile.shortName && download && ((allowDownload && uploadedFile.content) || (allowDownload && download &&  uploadedFile.controller && uploadedFile.key) )">
    <i class="fa fa-download" title="download {{uploadedFile.name}}" [appDownload]="uploadedFile" class="pr-2 acao-publicacao"></i>&nbsp;
  </span>
  <span *ngIf="showName && uploadedFile.shortName" title="{{uploadedFile.fileName}}">
    {{uploadedFile.shortName}}
  </span>
  <div #contentElement class="text-center">
    <ng-content *ngIf="!showName || (showName && !uploadedFile.shortName && contentElement)"></ng-content>
  </div>
  <span *ngIf="showName && uploadedFile.shortName">
    &nbsp;<i class="fa fa-trash" (click)="excluir($event)" style="cursor: pointer;" title="excluir {{uploadedFile.name}}" class="pr-2 acao-publicacao"></i>
  </span>

</label>
